<template>
    <section class="articles">
        <div class="wrapper">
            <div class="goal-choice">
                <h1>Интересные <span>статьи</span></h1>
                <p>Чтобы стать мега качком вам необходимо закинуться следующими препаратами чтобы стать мега 
                качком вам необходимо закинуться следующими препаратамиЧтобы стать мега качком вам необходимо</p>
            </div>
            <v-row>
                <v-col cols="12" sm="3" md="3" xl="3" class="article">
                    <img src="../assets/images/articles-1.png" alt="">
                    <p class="article-name">Название назваие статьи</p>
                    <p class="article-description">Текст статьи Для снижения веса рекомендуем купить жиросжигатели. Это недорогое спортивное питание, которое блокирует набор веса, стимулирует обмен веществ...</p>
                </v-col>
                <v-col cols="12" sm="3" md="3" xl="3">
                    <img src="../assets/images/articles-2.png" alt="" class="article">
                    <p class="article-name">Название назваие статьи</p>
                    <p class="article-description">Текст статьи Для снижения веса рекомендуем купить жиросжигатели. Это недорогое спортивное питание, которое блокирует набор веса, стимулирует обмен веществ...</p>
                </v-col>
                <v-col cols="12" sm="3" md="3" xl="3">
                    <img src="../assets/images/articles-3.png" alt="" class="article">
                    <p class="article-name">Название назваие статьи</p>
                    <p class="article-description">Текст статьи Для снижения веса рекомендуем купить жиросжигатели. Это недорогое спортивное питание, которое блокирует набор веса, стимулирует обмен веществ...</p>
                </v-col>
                <v-col cols="12" sm="3" md="3" xl="3">
                    <img src="../assets/images/articles-4.png" alt="" class="article">
                    <p class="article-name">Название назваие статьи</p>
                    <p class="article-description">Текст статьи Для снижения веса рекомендуем купить жиросжигатели. Это недорогое спортивное питание, которое блокирует набор веса, стимулирует обмен веществ...</p>
                </v-col>
            </v-row>
        </div>
    </section>
</template>

<style scoped>
.articles {
    padding-top: 85px;
    padding-bottom: 122px;
    background-color: #F8F8F8;;
}
.articles .goal-choice {
    padding-bottom: 80px;
}
.article-name {
    padding-top: 17px;
    padding-bottom: 11px;
}
.article-description {
    color: #5B5B5C;
    font-size: 16px;
}
</style>