<template>
    <section class="catalog">
        <div class="page-name">
            <p>Каталог</p> 
        </div>
        <div class="wrapper">
            <div class="page-about">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Natus quos doloremque animi tenetur. Molestias eos assumenda nesciunt aperiam provident earum numquam voluptatum, 
                itaque blanditiis cumque eveniet officia architecto, ipsum quidem?</p>
            </div>
            <v-row class="catalog-product">
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/new-protein.png" alt="protein"><p>Протеин</p></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/new-protein.png" alt="protein"><p>Протеин</p></v-col>
            </v-row>
            <v-row class="catalog-product">
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
            </v-row>
            <v-row class="catalog-product">
                    <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
                    <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
                    <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
                    <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/protein.svg" alt="protein"><p>Протеин</p></v-col>
            </v-row>
        </div>
    </section>
</template>

<script>

</script>

<style>
    .catalog {
        background-color: #F8F8F8;
    }
    .page-name {
        max-width: 546px;
        background-color: #E60D2E;
    }
    .page-name p {
        padding: 15px 0px;
        margin-left: 364px;
        font-size: 30px;
        line-height: 44px;
        text-transform: uppercase;
        color: #fff;
    }
    .page-about {
        padding-top: 28px;
        padding-bottom: 43px;
    }
    .row {
        margin-top: 0;
    }
    .catalog-product {
        padding-bottom: 27px;
    }
    .catalog-product:last-child {
        padding-bottom: 71px;
    }
</style>
