<template>
    <section class="category">
        <div class="page-name">
            <p>Категория</p> 
        </div>
        <div class="wrapper">
            <v-row class="products">
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/vegan.svg" alt="">
                        <p class="product-category">Протеин</p>
                        <p class="product-description">BSN SYNTHA BSN SYNTHABSN SYNTHA</p>
                        <p class="product-price">2 500 ₽</p>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/syntha-6.svg" alt="">
                        <p class="product-category">Протеин</p>
                        <p class="product-description">COLLAGEN CONCENTRATE LIQUID (500МЛ)</p>
                        <p class="product-price">12 500 ₽</p>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/zero.svg" alt="">
                        <p class="product-category">Be First \ Протеин</p>
                        <p class="product-description">BSN SYNTHA BSN SYNTHABSN SYNTHA</p>
                        <p class="product-price">1 500 ₽</p>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/whey.svg" alt="">
                        <p class="product-category">CYBERMASS \ Протеин</p>
                        <p class="product-description">Casein (908гр)</p>
                        <p class="product-price">2 500 ₽</p>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/syntha-6.svg" alt="">
                        <p class="product-category">Протеин</p>
                        <p class="product-description">Egg Protein (30г)</p>
                        <p class="product-price">700 ₽</p>
                    </v-col>
            </v-row>
        </div>
    </section>
</template>

<style>
.category {
    padding-bottom: 93px;
}
</style>