<template>
    <section class="companies">
        <div class="wrapper">
            <v-row>
                <v-col cols="12" sm="2" md="2" xl="2" class="companies-logo"><img src="../assets/images/on-company.svg" alt="ON"></v-col>
                <v-col cols="12" sm="3" md="3" xl="3" class="companies-logo"><img src="../assets/images/ironman-company.svg" alt="IRONMAN"></v-col>
                <v-col cols="12" sm="2" md="2" xl="2" class="companies-logo"><img src="../assets/images/on-company.svg" alt="ON"></v-col>
                <v-col cols="12" sm="3" md="3" xl="3" class="companies-logo"><img src="../assets/images/ironman-company.svg" alt="IRONMAN"></v-col>
                <v-col cols="12" sm="2" md="2" xl="2" class="companies-logo"><img src="../assets/images/on-company.svg" alt="ON"></v-col>
            </v-row>
        </div>
    </section>
</template>

<style scoped>
.companies {
    background-color: #F8F8F8; 
}
.companies .row {
    padding-left: 131px;
    padding-right: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.companies-logo:nth-child(2n+1) {
    padding-bottom: 22px;
}
.companies-logo:nth-child(2n) {
    padding-bottom: 32px;
}
</style>