<template>
    <section class="footer">
        <div class="wrapper">
            <div class="contacts">
                <v-col cols="12" md="2" lg="2" xl="2"><a href="/"><img src="../assets/images/footer-logo.png" alt="Rise"></a></v-col>
                <v-col cols="auto" md="1" lg="1" xl="1"><a href="/" class="contacts-item">Каталог</a></v-col>
                <v-col cols="auto" md="1" lg="1" xl="1"><a href="/" class="contacts-item">Бренды</a></v-col>
                <v-col cols="auto" md="1" lg="1" xl="1"><a href="/" class="contacts-item">Цели</a></v-col>
                <v-col cols="auto" md="1" lg="1" xl="1"><a href="/" class="contacts-item">Акции</a></v-col>
                <v-col cols="auto" md="1" lg="1" xl="1"><a href="/"></a></v-col>
                <v-col cols="auto" md="2" lg="2" xl="2"><a href="/"><img src="../assets/images/footer-phone.svg" class="contact-icon">8 800 12 34 56</a></v-col>
                <v-col cols="auto" md="2" lg="2" xl="2"><a href="/"><img src="../assets/images/footer-mail.svg" class="contact-icon">e-mail@mail.com</a></v-col>
                <v-col cols="auto" md="1" lg="1" xl="1"><a href="/">@instagram</a></v-col>
            </div>
        </div>
    </section>
</template>

<style scoped>
.footer {
    padding-top: 102px;
    padding-bottom: 100px;
    background-color: #282829;
}
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contacts-item {
    text-transform: uppercase;
}
.contact-icon {
    padding-right: 8px;
}
</style>