<template>
    <section class="goal">
        <div class="wrapper">
            <div class="goal-choice">
                <h1>Выбери <span>свою цель</span></h1>
                <p>Чтобы стать мега качком вам необходимо закинуться следующими препаратами чтобы стать мега 
                качком вам необходимо закинуться следующими препаратамиЧтобы стать мега качком вам необходимо</p>
            </div>
            <v-row>
                <v-col cols="12" sm="3" md="3" xl="3">
                    <img src="../assets/images/massa.png" alt="">
                    <p class="goal-description">Чтобы стать мега качком вам необходимо закинуться следующими препаратами ...</p>
                    <div class="goal-links">
                        <a href="#">Стероиды</a><a href="#">Протеин</a>
                        <a href="#">Стероиды</a><a href="#">Стероиды</a>
                        <a href="#">Стероиды</a><a href="#">Протеин</a>
                    </div>
                </v-col>
                <v-col cols="12" sm="3" md="3" xl="3">
                    <img src="../assets/images/poxydenie.png" alt="">
                    <p class="goal-description">Чтобы стать мега качком вам необходимо закинуться следующими препаратами ...</p>
                    <div class="goal-links">
                        <a href="#">Стероиды</a><a href="#">Протеин</a>
                        <a href="#">Стероиды</a><a href="#">Стероиды</a>
                        <a href="#">Стероиды</a><a href="#">Протеин</a>
                    </div>
                </v-col>
                <v-col cols="12" sm="3" md="3" xl="3">
                    <img src="../assets/images/telo.png" alt="">
                    <p class="goal-description">Чтобы стать мега качком вам необходимо закинуться следующими препаратами ...</p>
                    <div class="goal-links">
                        <a href="#">Стероиды</a><a href="#">Протеин</a>
                        <a href="#">Стероиды</a><a href="#">Стероиды</a>
                        <a href="#">Стероиды</a><a href="#">Протеин</a>
                    </div>
                </v-col>
                <v-col cols="12" sm="3" md="3" xl="3">
                    <img src="../assets/images/pokazateli.png" alt="">
                    <p class="goal-description">Чтобы стать мега качком вам необходимо закинуться следующими препаратами ...</p>
                    <div class="goal-links">
                        <a href="#">Стероиды</a><a href="#">Протеин</a>
                        <a href="#">Стероиды</a><a href="#">Стероиды</a>
                        <a href="#">Стероиды</a><a href="#">Протеин</a>
                    </div>
                </v-col>
            </v-row>
        </div>
    </section>
</template>

<style>
.goal {
    background-color: #E5E5E5;
    padding-top: 100px;
    padding-bottom: 64px;
}
.goal-choice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.goal-choice h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 24px;
}
h1 span {
    color: red;
}
.goal-choice p {
    max-width: 788px;
    text-align: center;
    padding-bottom: 60px;
}
.goal-description {
    padding-top: 17px;
    color: black;
}
.goal-links {
    display: grid;
    grid-template-columns: 60px 50px 60px 60px;
    column-gap: 11px;
    row-gap: 5px;
    padding-top: 12px;

}
.goal-links a {
    font-size: 16px;
    text-decoration-line: underline;
    color: #5B5B5C;
}
</style>