<template>
    <header>
        <div class="top-menu">
            <v-container>
                <div class="wrapper">
                    <v-row>
                        <v-col class="no-padding" cols="2" md="6" lg="6" xl="6"></v-col>
                        <v-col class="no-padding" cols="1" md="2" lg="2" xl="2"><a href="tel:79276711458" style="color: #fff;">+7 (927) 671-14-58</a></v-col>
                        <v-col class="no-padding" cols="auto" md="1" lg="1" xl="1"><a href="/">Магазины</a></v-col>
                        <v-col class="no-padding" cols="auto" md="2" lg="2" xl="2"><a href="/">Доставка и оплата</a></v-col>
                        <v-col class="no-padding" cols="auto" md="1" lg="1" xl="1"><a href="/">Контакты</a></v-col>
                    </v-row>
                </div>
            </v-container>
        </div>
        <div class="main-menu">
            <div class="wrapper">
                <v-row class="center">
                    <v-col cols="12" md="2" lg="2" xl="2"><a href="/"><img src="../assets/images/logo.svg" alt="Rise"></a></v-col>
                    <v-col cols="auto" md="1" lg="1" xl="1"><a href="/">Каталог</a></v-col>
                    <v-col cols="auto" md="1" lg="1" xl="1"><a href="/">Бренды</a></v-col>
                    <v-col cols="auto" md="1" lg="1" xl="1"><a href="/">Цели</a></v-col>
                    <v-col cols="auto" md="1" lg="1" xl="1"><a href="/">Акции</a></v-col>
                    <v-col cols="auto" md="2" lg="2" xl="2"></v-col>
                    <v-col cols="auto" md="3" lg="3" xl="3" class="search-field no-padding">
                        <input placeholder="Поиск по сайту">
                        <button><img src="../assets/images/search-button.svg"></button>
                    </v-col>
                    <v-col cols="auto" md="1" lg="1" xl="1"><a href="/"><img src="../assets/images/basket.svg" alt="Basket"></a></v-col>
                </v-row>
            </div>
        </div>
    </header> 
</template>

<style>
    a {
        color: #fff;
    }
    .top-menu {
        background: #282829;
        font-size: 16px;
        color: #fff;
        text-align: center;
        height: 32px;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .main-menu {
        padding: 14px 0px;
        border: 1px solid #EFEFEF;
    }
    .main-menu a {
        color: #282829;
        text-transform: uppercase;
    }
    .search-field {
        display: flex;
        justify-content: space-between;
        background-color: #F8F8F8;
    }
    .search-field input {
        padding: 5px 17px;
        outline: none;
    }
    .search-field button {
        padding: 5px 21px;
    }
    .search-field input[placeholder] {
        font-size: 16px;
        color: #727272;
    }
    :focus::-webkit-input-placeholder {
        color: transparent
    }  
</style>