<template>
    <section class="instagram">
        <div class="page-name">
            <p>Подписывайтесь на наш инстаграм</p> 
        </div>
        <div class="wrapper">
            <v-row class="instagram-images">
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/instagram-1.png" alt=""></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/instagram-2.png" alt=""></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/instagram-3.png" alt=""></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/instagram-4.png" alt=""></v-col>
            </v-row>
            <v-row class="instagram-images">
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/instagram-5.png" alt=""></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/instagram-6.png" alt=""></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/instagram-7.png" alt=""></v-col>
                <v-col cols="12" sm="3" md="3" xl="3"><img src="../assets/images/instagram-8.png" alt=""></v-col>
            </v-row>
        </div>
    </section>
</template>

<style scoped>
.instagram {
    padding-top: 100px;
    padding-bottom: 100px;
}
.instagram .page-name {
    max-width: 900px;
}
.instagram-images:first-child {
    padding-top: 38px;
}
</style>