<template>
    <section class="popular">
        <div class="page-name">
            <p>Популярное</p> 
        </div>
        <div class="wrapper">
            <v-row class="products">
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/syntha-6.svg" alt="">
                        <p class="product-category">Протеин</p>
                        <p class="product-description">BSN SYNTHA BSN SYNTHABSN SYNTHA</p>
                        <p class="product-price">1 500 ₽</p>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/syntha-6.svg" alt="">
                        <p class="product-category">Протеин</p>
                        <p class="product-description">BSN SYNTHA BSN SYNTHABSN SYNTHA</p>
                        <p class="product-price">1 500 ₽</p>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/hydro.svg" alt="">
                        <p class="product-category">Протеин</p>
                        <p class="product-description">CHONDROITIN + MSM (90ТАБ)</p>
                        <p class="product-price">890 ₽</p>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/vegan.svg" alt="">
                        <p class="product-category">FIT KIT \ Протеиновое </p>
                        <p class="product-description">BSN SYNTHA BSN SYNTHABSN SYNTHA</p>
                        <p class="product-price">1 700 ₽</p>
                    </v-col>
                    <v-col cols="12" sm="2" md="2" xl="2" class="product">
                        <img src="../assets/images/syntha-6.svg" alt="">
                        <p class="product-category">Протеин </p>
                        <p class="product-description">COLLAGEN CONCENTRATE LIQUID (500МЛ)</p>
                        <p class="product-price">340 ₽</p>
                    </v-col>
            </v-row>
        </div>
    </section>
</template>

<style>
    .popular {
        padding-top: 84px;
        padding-bottom: 100px;
    }
    .popular .page-name {
        max-width: 566px;
    }
    .products {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 33px;
    }
    .product-category {
        color: #4E4E4E;
        font-size: 14px;
        padding-top: 9px;
    }
    .product-description {
        color: #4E4E4E;
        font-size: 16px;
        padding-top: 2px;
    }
    .product-price {
        color: black;
        font-weight: 500;
    }
</style>