<template>
    <section class="shop">
        <div class="wrapper">
            <v-row>
                <v-col cols="12" md="6" lg="6" xl="6" class="shop-left">
                    <p class="shop-title">будем рады видеть вас в нашем<br> магазине по адресу <span>ул. ленина д.1</span></p>
                    <div class="shop-items">
                        <p class="shop-info"><img src="../assets/images/shop-time.svg">Пн - пт 07:00 - 18:00 <br> Сб - Вс 07:00 - 17:00</p>
                        <p class="shop-info"><img src="../assets/images/shop-phone.svg">7 (927) 446-55-66</p>
                        <p class="shop-info"><img src="../assets/images/shop-mail.svg">e-mail@mail.com</p>
                    </div>
                </v-col>
                <v-col cols="12" md="6" lg="6" xl="6" class="shop-right">
                    <img src="../assets/images/shop-map.png">
                </v-col>
            </v-row>
        </div>
    </section>
</template>

<style scoped>
.shop {
    background: #F1F1F1;
}
.shop-left {
    padding-top: 100px;
    padding-bottom: 108px;
}
.shop-title {
    font-size: 30px;
    max-width: 485px;
    text-transform: uppercase;
    padding-bottom: 32px;
}
span {
    color: red;
}
.shop-items {
    display: flex;
    align-items: center;
}
.shop-info {
    font-size: 16px;
    padding-right: 50px;
    text-align: end;
}
.shop-info img {
    padding-right: 10px;
}
.shop-right {
    padding: 0;
}
</style>

