<template>
    <main>
        <div class="wrapper">
            <v-carousel hide-delimiters>
                <v-carousel-item
                v-for="(item,i) in items"
                :key="i"
                :src="item.src"
                reverse-transition="fade-transition"
                transition="fade-transition"
                >
                </v-carousel-item>
            </v-carousel>
        </div>
    </main>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          {
            src: require('../assets/images/slider-item.png'),
          },
          {
            src: require('../assets/images/slider-item.png'),
          },
          {
            src: require('../assets/images/slider-item.png'),
          },
          {
            src: require('../assets/images/slider-item.png'),
          },
          {
            src: require('../assets/images/slider-item.png'),
          },
        ],
      }
    },
  }
</script>

<style scoped>
    main {
        padding-top: 40px;
    }
</style>
