<template>
  <div class="app">
    <Header />
    <v-app>
      <Slider />
    </v-app>
    <Catalog />
    <Companies />
    <Popular />
    <Category />
    <Goal />
    <Instagram />
    <Articles />
    <Shop />
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header'
import Slider from '@/components/Slider'
import Catalog from '@/components/Catalog'
import Companies from '@/components/Companies'
import Popular from '@/components/Popular'
import Category from '@/components/Category'
import Goal from '@/components/Goal'
import Instagram from '@/components/Instagram'
import Articles from '@/components/Articles'
import Shop from '@/components/Shop'
import Footer from '@/components/Footer'

export default {
  name: 'App',

  components: {
    Header,
    Slider,
    Catalog,
    Companies,
    Popular,
    Category,
    Goal,
    Instagram,
    Articles,
    Shop,
    Footer,
  },

  data: () => ({
    //
  }),
};
</script>

<style>
  * {
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  div {
    display: block;
  }
  body {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
  .no-padding {
    padding: 0 !important;
  }
</style>
